body{
    background-color: #6e3514;
    
}

p{
    color: cornsilk;
    text-align: center;
}

h1{
    color: cornsilk;
    text-align: center;
}

h4{
    color: cornsilk;
    text-align: center;

}
h3{
    color: black;
}
form{
    align-items: center;
    text-decoration: black;
    border-style: solid;
    border-radius: 5px;
    color:rgb(26, 20, 20)
    
}
input{
    width: 95%;
    padding: 10px 20px;
    margin: 8px 0;
}
nav{
    color: black;
    text-align: center;
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
hr{
    color: black;
}
video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
